[audio]
bgm=sound_effects/remix_converted.bcstm
sfx.cursor=sound_effects/grenade_converted.bcwav
sfx.folder=sound_effects/grenade_converted.bcwav
sfx.launch=sound_effects/gogogo_converted.bcwav

[colors]
arrowbuttoncolor.dark=0x81d2ef
arrowbuttoncolor.light=0xf07d03
arrowbuttoncolor.main=0xff00c4
arrowbuttoncolor.shadow=0x000000ff
arrowcolor.border=0xff00c4
arrowcolor.pressed=0xffffff
arrowcolor.unpressed=0xffffff
bottomcornerbuttoncolor.dark=0x81d2ef
bottomcornerbuttoncolor.iconlight=0xffffff
bottomcornerbuttoncolor.iconmain=0xffffff
bottomcornerbuttoncolor.icontextmain=0x000000
bottomcornerbuttoncolor.light=0xf07d03
bottomcornerbuttoncolor.main=0xff00c4
bottomcornerbuttoncolor.shadow=0x000000
close.dark=0x81d2ef
close.glow=0x000000
close.light=0xf07d03
close.main=0xff00c4
close.shadow=0x000000ff
close.textmain=0xffffff
close.textselected=0x000000
close.textshadow=0xffffff
close.textshadowpos=0
cursorcolor.dark=0x81d2ef
cursorcolor.glow=0xff00c4
cursorcolor.light=0xf07d03
cursorcolor.main=0xff00c4
demotextcolor.main=0xff00c4
demotextcolor.textmain=0xffffff
filecolor.dark=0x81d2ef
filecolor.light=0xff00c4
filecolor.main=0xf07d03
filecolor.shadow=0xf07d03ff
folderarrowcolor.dark=0xf07d03
folderarrowcolor.glow=0x000000
folderarrowcolor.light=0xf07d03
folderarrowcolor.main=0xff00c4
folderarrowcolor.shadow=0x000000ff
folderarrowcolor.textmain=0xffffff
folderarrowcolor.textselected=0xffffff
folderarrowcolor.textshadow=0xff00c4
folderarrowcolor.textshadowpos=0
folderbgcolor.dark=0xff00c4
folderbgcolor.light=0xf07d03
folderbgcolor.main=0x81d2ef
folderbgcolor.shadow=0x000000ff
foldercolor.dark=0x81d2ef
foldercolor.light=0x000000
foldercolor.main=0xff00c4
foldercolor.shadow=0x000000
gametext.light=0x000000
gametext.main=0x81d2ef
gametext.shadow=0x000000ff
gametext.textmain=0xff00c4
open.dark=0x81d2ef
open.glow=0x000000
open.light=0xf07d03
open.main=0xff00c4
open.shadow=0x000000ff
open.textmain=0xffffff
open.textselected=0x000000
open.textshadow=0xffffff
open.textshadowpos=0
topcornerbuttoncolor.light=0x000000
topcornerbuttoncolor.main=0xff00c4
topcornerbuttoncolor.shadow=0x000000
topcornerbuttoncolor.textmain=0xffffff

[frames]
bottom.frame=single
bottom.type=texture
top.frame=single
top.type=texture

[info]
cero=47
icon=theme_icons/icon_large.png
longtitle=CS:GO Synthwave (with audio remix)
publisher=TheRake66
shorttitle=CS:GO Synthwave
smallicon=theme_icons/icon_small.png

[kame-editor]
deploy=aaaaa.zip

[textures]
bottom.image=texture_assets/screen_bottom.png
filelarge.image=texture_assets/tile_large.png
filesmall.image=texture_assets/tile_small.png
folderclose.image=texture_assets/folder_closed.png
folderopen.image=texture_assets/folder_opened.png
top.image=texture_assets/screen_top.png
